@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-gray-900 text-white;
}
